In [1]:
number = 1
number

1

In [2]:
string = '3'
string

'3'

In [3]:
number + string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [4]:
eval(string)

3

In [5]:
number + eval(number + string)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [6]:
print(str(number)+string)

13

In [7]:
print(number, string)

1 3

In [8]:
print('Hello world!')
print(number, string)

Hello world!
1 3

In [9]:
a = 100
b = 200
temp = a
a = b
b = temp
print(a, b)

200 100

In [10]:
a = 1
a += 1
a

2

In [12]:
a = input()

5

In [14]:
a = eval(input())
a

1

1

In [15]:
import math
math.sin(5)

-0.9589242746631385

In [16]:
5>3

True

In [17]:
1>3

False

In [18]:
(5>3) and (1>3)

False

In [19]:
(5<3) and (3<6)

False

In [20]:
(5>3) or (1<3)

True

In [21]:
(2>3) or (1>3)

False

In [22]:
not (2>3) or (1>3)

True

In [23]:
num = eval(input())
if num %2 ==0:
    print(num, 'is an even number.')
else:
    print(num, 'is a odd number.')

5
5 is a odd number.

In [24]:
total = 0
k = 2
while k <= 40:
    print('total=', total,'k=',k)
    total = total + k
    k += 2
print('2+4+6+7+8+...+38+40=',total)

total= 0 k= 2
total= 2 k= 4
total= 6 k= 6
total= 12 k= 8
total= 20 k= 10
total= 30 k= 12
total= 42 k= 14
total= 56 k= 16
total= 72 k= 18
total= 90 k= 20
total= 110 k= 22
total= 132 k= 24
total= 156 k= 26
total= 182 k= 28
total= 210 k= 30
total= 240 k= 32
total= 272 k= 34
total= 306 k= 36
total= 342 k= 38
total= 380 k= 40
2+4+6+7+8+...+38+40= 420

In [25]:
while true:
    print(1)
    if 條件:
        break

NameError: name 'true' is not defined

In [26]:
total = 0
k = 2
while k <= 40:
    print('total0=', total,'k0=',k)#顯示初始值
    total = total + k
    k += 2
    print('total1=', total,'k1=',k)#顯示結束時得值
print('2+4+6+7+8+...+38+40=',total)

total0= 0 k0= 2
total1= 2 k1= 4
total0= 2 k0= 4
total1= 6 k1= 6
total0= 6 k0= 6
total1= 12 k1= 8
total0= 12 k0= 8
total1= 20 k1= 10
total0= 20 k0= 10
total1= 30 k1= 12
total0= 30 k0= 12
total1= 42 k1= 14
total0= 42 k0= 14
total1= 56 k1= 16
total0= 56 k0= 16
total1= 72 k1= 18
total0= 72 k0= 18
total1= 90 k1= 20
total0= 90 k0= 20
total1= 110 k1= 22
total0= 110 k0= 22
total1= 132 k1= 24
total0= 132 k0= 24
total1= 156 k1= 26
total0= 156 k0= 26
total1= 182 k1= 28
total0= 182 k0= 28
total1= 210 k1= 30
total0= 210 k0= 30
total1= 240 k1= 32
total0= 240 k0= 32
total1= 272 k1= 34
total0= 272 k0= 34
total1= 306 k1= 36
total0= 306 k0= 36
total1= 342 k1= 38
total0= 342 k0= 38
total1= 380 k1= 40
total0= 380 k0= 40
total1= 420 k1= 42
2+4+6+7+8+...+38+40= 420

In [27]:
total = 0
for i in range(2, 41, 2):
    print('total=',total,'i=',i)
    total += i
print('2+4+6+8+...+38+40=',total)

total= 0 i= 2
total= 2 i= 4
total= 6 i= 6
total= 12 i= 8
total= 20 i= 10
total= 30 i= 12
total= 42 i= 14
total= 56 i= 16
total= 72 i= 18
total= 90 i= 20
total= 110 i= 22
total= 132 i= 24
total= 156 i= 26
total= 182 i= 28
total= 210 i= 30
total= 240 i= 32
total= 272 i= 34
total= 306 i= 36
total= 342 i= 38
total= 380 i= 40
2+4+6+8+...+38+40= 420

In [28]:
i = 0
while True:    #T要大寫
    i += 1
    if i >=10:
        break    #直接跳出迴圈，所以沒有10
    print(i)
print('結束')

1
2
3
4
5
6
7
8
9
結束

In [29]:
i = 0
while i <= 10:
    i +=1
    if i %2 ==0:
        continue    #直接回到迴圈的開頭
    print(i,'是奇數')

1 是奇數
3 是奇數
5 是奇數
7 是奇數
9 是奇數
11 是奇數